.user-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 200px;
    position: relative;



}
.user-login h1{
    font-size: 1.5rem;
    margin-left: 10px;
    color: cadetblue;
    
}

.user-login input{
    margin-left: 20px;
    position:relative;
    
}


#btn-form{
    left: 90px;
    position: relative;
    margin-top: 8px;
}
#btn-form Button{
    margin-right: 15px;
}