.movies{
    display:inline-flex;
    flex-direction: column;
}

.listaFilmes li{
    display: flex;
    flex-direction: column;
    
    
    
}
.listaFilmes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.listaFilmes img{
    padding: 0;
    margin-bottom: 0;
    
}
.listaFilmes div{
    background-color: rgba(221, 217, 217, 0.864);
    align-content: center;
    max-width: 200px;
    text-align: center;
    height: 30px;
    margin-top: 0;
    margin-bottom: 20px;
    
    max-height: fit-content;
    
}
.listaFilmes h2{
    justify-content: center;
    font-size: 0.8rem;
    margin-top: 0;
    font-family: 'Courier New', Courier, monospace;
    color: indigo;
    word-break: break-all;
    
    
}