.user-Cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 200px;
    position: relative;
    



}
.user-Cadastro#nome#user#password{
    margin-left: 20px;
    position: absolute;
    left: 420px;
}
.date{
    margin-left: 40px;

    left: -40px;
    position: absolute;
    top: -15px;

}



.user-Cadastro h1{
    font-size: 1.5rem;
    margin-left: 10px;
    color: cadetblue;
    
}


#btn-form-cadastro{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    
}

